/* Uses Page */

.uses{
  text-align: center;
}
.hardware a {
  color: #c47a3a;
}
#backButton {
  margin-top: 20px;
   padding: 8px 14px;
  background: #2f3437;
  color: #c47a3a;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  }
#backButton:hover {
  color: #2f3437;
  background-color: #c47a3a;
  transition: background 0.2s ease
}