*{
  box-sizing: border-box;
}
body{
  color: #c47a3a;
  background-color: #2f3437;
  font-family: Arial, sans-serif;
}
h2{
  font-weight: 800;
  font-size: 30px;
}
h3{
  Font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
/* navigation bar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c47a3a;
  color: #2f3437;
  padding: 15px 30px;  
  position: fixed;
  width:100%;
}
.navLinks{
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
.navLinks a {
  color: #2f3437;
  text-decoration: none;
}
.navLinks a:hover {
  color: #e8d8c2;
  text-decoration: underline;
}
.logo {
font-weight: 800;
font-size: 30px;
color: #e8d8c2;
}

/* About Me */
#aboutMe{
  padding-top: 60px;
  height: 400px;
}
.about {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}
.about p {
  margin-bottom: 12px;
}
.about a {
  text-decoration: underline;
  color: #c47a3a;
  cursor: pointer;
}
.about img{
  height: 400px;
  width: 200px;
  float: left;
  margin-right: 15px; /* Space between image and text */
  }


/* Social and Tech Stack */
#socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}
.socialLinks{
  margin-bottom: 20px;
}
.social-links a {
  gap: 15px;
  color: #c47a3a;
  text-decoration: none;
  font-size: 18px;
}
.tech {
  text-align: center;
}
.icon {
  margin-top: auto;
  font-size: 40px;
  color: #c47a3a;
}

/* Projects */
#projects {
  padding: 60px 20px;
  text-align: center;
}
.projects{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.projectCard{
  color: #2f3437;
  background: #e8d8c2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  width: 300px;
  padding: 10px;
  margin-top: 0px;
}
.projectCard img{
  border-radius: 7px;
}
.links {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.links a {
  padding: 8px 14px;
  background: #2f3437;
  color: #c47a3a;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  ;
}
.links a:hover{
  color: #2f3437;
  background-color: #c47a3a;
  transition: background 0.2s ease
}


/* Contact Me and footer */
#contact {
  text-align: center;
}
#contact a {
  text-decoration: none;
  color: #c47a3a;
}
footer {
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

/* Uses Page */
.uses {
  text-align: center;
}

.hardware a {
  color: #c47a3a;
}
